# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environments
.env
.venv
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs
*.log

# Data (keep small sample files, ignore big datasets)
data/*.csv
!data/titanic.csv
!data/titanic_clean.csv
!data/sample.json

# Models
models/
*.pkl
*.joblib

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db