# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
.env/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log
